
# Latex
*.aux
*.bcf
*.fdb_latexmk
*.fls
*.log
*.out
*.run.xml
*.toc
*.synctex.gz

# Bibtex
*.bbl
*.blg

# Git
*.git
*.gitignore

# Python
*.pyc
__pycache__

# Test files
test*.py

# Special Files
cronograma.md

# MacOS
.DS_Store

# Polygon Helper
PolygonsOut/
PolygonsOut/*
