
# VSCode
.vscode/

# Latex
*.aux
*.bcf
*.fdb_latexmk
*.fls
*.log
*.out
*.run.xml
*.toc
*.synctex.gz
*.synctex*

# Bibtex
*.bbl*
*.blg

# Git
*.git
*.gitignore

# Python
*.pyc
__pycache__

# C++
*.o

# Test files
test.*
test[0-9].*

# Special Files
cronograma.md

# MacOS
.DS_Store

# Polygon Helper
PolygonsOut/
PolygonsOut/*
